.main-content {
    padding: 20px;
    height: 60vh !important;
    margin-left: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.package-card {
    height: 210px !important;
    /* Adjust height if needed */
}

.pickup-section {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #b2ebf2;
    position: relative;
    margin-bottom: 10px;
}

.pickup-section label {
    display: block;
    font-size: 16px;
    color: #4380D1;
    margin-bottom: 10px;
    font-weight: bold;
}

.pickup-section input[type="text"],
.pickup-section input[type="number"],
.pickup-section input[type="date"],
.pickup-section input[type="time"],
.pickup-section textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pickup-section input:focus {
    border-color: #1e88e5;
    outline: none;
}

.package-card p {
    margin-bottom: -2px !important;
    margin-top: 6px !important;
}

.package-card button {
    margin-top: 10px !important;
}

.sidebar ul {
    margin-top: -8px !important;
}

.sidebar.minimized ul {
    margin-top: -19px !important;
}

.filters {
    margin-right: 875px !important;
    margin-bottom: -10px !important;
}

.fill .filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px;
}

.fill .filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0f020216;
}

.fill .filters input[type="text"] {
    width: 250px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 40px !important;
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.View-Package {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid #ccc;
    animation: popupSlideIn 0.5s ease;
    position: relative;
    border: 4px solid lightgray;
    border-radius: 10px;
    width: 320px;
    height: 550px;
    animation: popupSlideIn 0.5s ease;
    z-index: 1000;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}
.View-Package::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/event-baclground.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.7;
}
button {
    background-color: #3366cc;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}
.top-con {
    color: black;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
}
.back-con{
    background-color: #007bff;
    z-index: 10000;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    margin-left: -21px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa-chevron-left{
    margin-left: 40px;
    cursor: pointer;
    color: white !important;
}