body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3a3a3a;
}

body::-webkit-scrollbar {
    display: none; /* This hides the scrollbar in Webkit-based browsers like Chrome and Safari */
}
.container {
    display: flex;
}
.selected a {
    color: white !important;
    margin-top: 5px !important;
    margin-bottom: -15px !important;
    padding: 15px 10px;
}
.main-content {
    padding: 20px;
    position: relative;
    height: 110vh !important;
    margin-left: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.content{
    color: gray !important;
    margin-top: -37px !important;
}

.message-dropdown ul li:hover .content {
    color: black !important;
}

.container-food {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 80px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.timetable {
    width: 520px;
}

.timetable .filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.timetable .filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4d4c4c16;
}

.timetable .filters input[type="date"] {
    width: 250px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.timetable table {
    width: 100%;
    border-collapse: collapse;
}

.table-body-container::-webkit-scrollbar {
    display: none;
}

.timetable table th,
.activity-schedule table td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.timetable table th {
    background-color: #f5f5f5;
    color: #233E8D;
    padding-top: 15px;
    padding-bottom: 15px;
}

.timetable table tr {
    border-bottom: 4px solid lightgray;
}

.timetable .description {
    margin-top: 20px;
}

.timetable .description h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.timetable .description p {
    margin: 0;
}

.timetable input[type="date"] {
    width: 250px;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 100px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
}

.pickup-section {
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #b2ebf2;
    position: relative;
    margin-bottom: 5px;
}

.pickup-section label {
    display: block;
    font-size: 16px;
    color: #4380D1;
    margin-bottom: 10px;
    font-weight: bold;
}

.pickup-section input[type="text"],
.pickup-section input[type="date"],
.pickup-section select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.pickup-section select {
    width: 150px;
}

.pickup-section input[type="date"]{
    width: 130px;
}

.pickup-section input:focus {
    border-color: #1e88e5;
    outline: none;
}

button {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1565c0;
}

.editsnack {
    width: 300px !important;
}

.editsnacksel {
    width: 320px !important;
}