* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--pickup);
}

/* aprgraph on KiddoVille */
.content {
    background-color: white;
    margin: 0px auto;
    padding: 20px 30px;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--popup-background);
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 50px !important;
}
.content.visible {
    opacity: 1;
    transform: translateY(0);
}
.content h1 {
    color: #3f51b5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px !important;
    text-align: center
}
.content p {
    color: #333;
    line-height: 1.6;
}
.content .section {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    box-shadow: 0 2px 8px var(--popup-background);
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 0px 20px;
    border-radius: 10px;
    margin: 20px 0px;
}
.content .section:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px var(--popup-background);
}
.content .section img {
    width: 50px;
    margin-right: 20px;
}
.content .section:last-child {
    margin-bottom: 0;
}
.content .main-content {
    display: flex;
    justify-content: space-between;
}
.content .text-content {
    flex: 1;
    margin-right: 20px;
}
.content .image-content {
    flex: 1;
    text-align: center;
}
.content .image-content img {
    max-width: 100%;
    height: auto;
}
.content .footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* footer of content */
.content .footer div {
    text-align: center;
}
.content .footer div i {
    font-size: 24px;
    color: #1e88e5;
}
.content .footer div p {
    margin: 5px 0 0;
    color: #333;
}
.content .footer div p span {
    display: block;
    font-weight: bold;
}
.content .footer-text {
    text-align: center;
    color: #3f51b5;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .footer-text img {
    margin-right: 10px;
}