.activity-schedule {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}
.activity-schedule h2 {
    font-size: 24px;
    color: #233E8D;
    margin: 0 0 20px;
    border-bottom: 2px solid #233E8D;
    width: 75%;
    padding-bottom: 10px;
}
.activity-schedule .filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.activity-schedule .filters input,
.activity-schedule .filters select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4d4c4c16;
}
.activity-schedule .filters input[type="date"] {
    width: 250px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 100px;
}
.activity-schedule .filters select {
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}
.activity-schedule .filters select option {
    text-align: center;
}
.activity-schedule table {
    width: 100%;
    border-collapse: collapse;
}
.activity-schedule table th,
.activity-schedule table td {
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    text-align: left;
}
.activity-schedule table th {
    background-color: #f5f5f5;
    color: #233E8D;
    padding-top: 15px;
    padding-bottom: 15px;
}
.activity-schedule table tr:nth-child(even) {
    background-color: #809ffe;
    border-bottom: 4px solid #0206ff;
    color: white;
}
.activity-schedule table tr:nth-child(odd) {
    border-bottom: 3px solid #007bff;
}
.activity-schedule table tr:nth-child(even):hover {
    background-color: #517bfb;
}
.activity-schedule table tr:hover {
    background-color: #e0e0e0;
}
.activity-schedule .description {
    margin-top: 20px;
}
.activity-schedule .description h3 {
    font-size: 18px;
    margin: 0 0 10px;
}
.activity-schedule .description p {
    margin: 0;
}
.right-sidebar {
    width: 300px;
    padding: 20px;
    margin-top: 80px;
    height: 109vh;
}
.right-sidebar .box {
    background: linear-gradient(135deg, #e0e0e0, #ffffff);
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    backface-visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    border: 2px solid #007bff;
}
.right-sidebar .box .button {
    position: relative;
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
}
.right-sidebar .box .button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.right-sidebar .box-inner {
    transform-style: preserve-3d;
    transition: transform 0.6s;
}
.right-sidebar .box:hover .box-inner {
    transform: rotateY(180deg);
}
.right-sidebar .box:hover {
    transform: translateY(-7px);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5);
}
.right-sidebar .box h3 {
    font-size: 18px;
    margin: 0 0 10px;
}
.right-sidebar .box p {
    margin: 0;
}
.right-sidebar .box .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3a8dde;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}
.right-sidebar .box .button:hover {
    background-color: #357ac9;
}