.funzone-page {
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0px;
    margin: 20px 20px;
   
    overflow: hidden; /* Prevent entire page scroll */
}
.table-rows {
    max-height: 400px; /* Set height for scrolling */
    overflow-y: auto;
    scrollbar-width: none; 
    border-top: 1px solid #ccc;
}
.student-row:nth-child(even) {
    background-color: #f9f9f9; /* Zebra striping */
}
.funzone-page-header{
  
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: var(--secondary-color );
}
.funzone-page-header h3{
    padding:  0px 10px;
}
.funzone-page hr{
    margin: 0px 10px 10px 10px;
    border: 1px solid #ccc;
}
.funzone-page-header .fa-regular{
    scale: 1.5 ;
}
.filter-group{
    width: 100%;
    color: var(--font-color-black);
    display: flex;
    gap: 0px;
    margin: 5px 20px 5px 10px;
    padding: 0px 20px;
}
.filters{
    display: flex ;
    padding-right: 20px;
}
.filters input[type="text"]{
    padding: 8px 16px;
    border-radius: 20px;
    outline: none;
    border: 1px solid #ccc;
   
}
.filter-group select{
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    
}
.filter-group .topic h3{
    color: var(--secondary-color);
    font-weight: 500;
}

.filter-group input{
    width: 30%;
}
.filter-group label{
    font-weight: 500;
}
.filters .upload{
    color: #fff;
    padding: 8px 14px;
    border-radius: 20px;
    background-color: var(--button-blue);
    border: 1px solid var(--button-blue);
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.filters .upload:hover{
    color:var(--secondary-color); 
    background-color: #fff;
    border: 1px solid var(--secondary-color);


}
.filters i{
    margin-right: 5px;
}
.student-table{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0px 0px;
    background-image: url(../Images/std.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 0px;
}

.student-table-title {
    color: var(--secondary-color);
    display: flex;
    flex: 0.1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5; 
    position: sticky;
    top: 0; /* Fix the header to the top */
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.student-table-title .up{
    margin-left: -20px;
}
.student-table-title .last-md{
    margin-left: -20px;
}
.student-table-title h4{
    flex:1;
    text-align: center;
}
.student-table-title i{
    margin-right: 5px;
}
.student-row{
    display: flex;
    padding: 15px 20px 10px 30px;
    border-bottom: 1px solid var(--border-line);
    color: var(--font-color-black);
    z-index: 2;
    align-items: center;
}
.student-row .row-items{
    font-size: 0.9rem;
    flex:1;
    
}
.student-row .bx{
    scale: 1.2;
    cursor: pointer;
}
.student-table-title, .student-row {
    backdrop-filter: blur(2px); /* Adds a subtle blur effect */
    border-radius: 5px;
}
.student-row .center{
   text-align: center;
}

.student-row .actions{
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.student-row .actions button{
    
}

.student-row .actions .dlt-btn{
    background-color: rgb(251, 251, 251);
    color: #4d4d4d;
    padding: 5px 12px;
    border-radius: 7px;
    font-weight: 500;
    border: 1px solid #4d4d4d48;
    outline: none;
    cursor:pointer;
    transition: 0.1s ease;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.student-row .actions .dlt-btn:hover{
    background-color: #e4e4e4;
}

.student-row .actions .edit-btn{
    background-color: rgb(251, 251, 251);
    color: #4d4d4d;
    padding: 5px 12px;
    border-radius: 7px;
    font-weight: 500;
    border: 1px solid #4d4d4d48;
    outline: none;
    cursor:pointer;
    transition: 0.1s ease;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.bx{
    color: black;
    padding-left: 3px;
}
.student-row .actions .edit-btn:hover{
    background-color: #e4e4e4;
}
.student-row .name{
    font-weight: 600;
}
.student-row .first-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.student-row .first-row img{
    width: 35px;
}
.student-row .small{
    
    color: #4d4d4d;
}
.student-row .opacity{
    color: #696d70;
    
}
.student-row .upload{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.upload img{
    width: 30px;
    border-radius: 50%;
}
.upload .upld-person{
   
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.upld-person p{
    font-size: 0.9rem;
}
.upld-person .email{
    font-size: 0.8rem;
}



/*** add resources ***/

.funzone-popup-container{
    position: absolute;
   background-color: var(--popup-background);
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 608px;
   z-index: 1000;
   visibility: hidden;
   opacity: 0;
}
.funzone-content{
    box-shadow: 4px 4px 15px rgba(0,0,0,0.25);
    width:600px;
    margin: 60px 300px;
    padding-left:40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    background-color: #fff;
    border-radius: 15px;
    transition: all 0.3s;
    transform: translateY(10%);
}
.funzone-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.funzone-header img{
    width: 110px;
}
.drag-and-drop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  1px dashed var(--light-black);
    border-radius: 10px;
    padding: 30px 0px;
}
.drag-and-drop .fa-regular{
    scale: 1.5;
    margin:15px 15px;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: var(--icon-background);
}
.drag-and-drop button{
    padding: 8px 16px;
    border-radius: 25px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: #fff;
    margin: 10px 0px;
    cursor: pointer;
}
.drag-and-drop button:hover{
    background-color: var(--primary-hover);
}
.drag-and-drop p, .funzone-footer p{
    color: var(--light-color);
    font-size: 0.8rem;
}
.funzone-footer{
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.funzone-footer input{
    width: 100%;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--input-field-backgorund);
}

.funzone-buttons{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-top: 10px;
}
.funzone-buttons button , .kiddo-footer button{
   
   border-radius: 18px;
   border: none;
   outline: none;
   cursor: pointer;
}
.funzone-buttons .done ,.leave-footer .request, .kiddo-footer .done{
    background-color: var( --button-blue);
    color: white;
    border: 1px solid var(--button-blue);
    padding: 10px 20px;
}
.funzone-buttons .done:hover, .leave-footer .request:hover, .kiddo-footer .done:hover{
    background-color: var( --button-blue-hover);
    border: 1px solid var(--button-blue-hover);
}
.funzone-buttons .cancel:hover, .leave-footer .cancel:hover,.kiddo-footer .cancel:hover{
    background-color:var(--background-opacity);
    border: 1px solid var(--input-field-backgorund);
}

.funzone-buttons .cancel, .leave-footer .cancel, .kiddo-footer .cancel{
    background-color:#fff;
    border: 1px solid var(--light-color);
    padding: 10px 20px;
}

/* -------- SHOW FUNZONE POPUP-------------*/   

.show-funzone{
    visibility: visible;
    opacity: 1;


}