* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Inter';

}

.wrapper-1 {

    z-index: 1000;
    padding: 8px 7rem;
    height: 1000px;

    backdrop-filter: 50px;
}

.hero-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.hero-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0px;
}

.heading {
    line-height: 80px;
    margin-bottom: 0px;
    padding: 20px 0px;

}

span .name {
    color: #5386c4;
    font-family: 'Inter';
}

.heading h1 {
    font-family: 'Inter';
    font-size: 4rem;
    color: var(--secondary-color)
}

.hero-content1 .paragraph {
    color: var(--font-color-black);
    max-width: 600px;
    margin-bottom: 30px;

}

.hero-content2 {
    display: flex;

}

.hero-content2 img {
    width: 550px;
}

.hero-content1 button {
    cursor: pointer;
    color: white;
    padding: 12px 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    outline: none;
    border: none;
    transition: 0.3s ease-in;
    font-size: 1rem;
}

.hero-content1 button:hover {
    background-color: #153c80;
}

.clouds {
    margin: 0 0;
    z-index: -1;
    position: absolute;
    top: 690px;
    left: 1px;

}

.content {
    position: relative;
    padding-top: 200px;
}

.content .why-choose {
    color: var(--secondary-color);
    text-align: center;
    font-size: 3rem;
    display: block;
    margin-bottom: 100px;
    font-weight: 700;
}

.double-content {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.double-content .left-c,
.double-content .left-c1 {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.double-content .right-c,
.double-content .right-c1 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.double-content .right-c1 {
    align-items: flex-end;
}

.double-content .right-c img {
    padding-left: 200px;
    width: 500px;
}

.left-c .enrich {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2rem;

}

.left-c .foster {
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px 0px;
    font-size: 1.4rem;
}

.left-c p {
    text-align: justify;
    margin: 20px 0px;
}

.double-content .left-c1 img {
    padding-left: 90px;
    width: 450px;
}

.right-c1 .enrich {
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 2rem;
}

.right-c1 .foster {
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px 0px;
    font-size: 1.4rem;
}

.right-c1 p {
    text-align: justify;
    margin: 20px 0px;
}

.pattern-line {
    margin: 0 0;
    z-index: -1;
    position: absolute;
    top: 2300px;
    left: 1px;
}

.teacher-list {
    margin-left: -7rem;
    margin-right: -7rem;
    width: calc(100% + 14rem);
    /* Adjusting for negative margins */
    background-color: #153c80;
    height: 400px;
    margin-top: 50px;
}

.guide {
    color: var(--secondary-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 20px 0px;
}

.teachers {
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 10px;
    margin-top: 60px;
}

.profile-1,
.profile-2,
.profile-3,
.profile-4 {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.233);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.3s ease-in-out;
}

.circle {
    position: relative;
    top: -70px;
    left: 40px;
    width: 180px;
    height: 180px;
    background-color: #fff;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.circle img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.name-box {
    background-color: #ffffff;
    width: 100%;
    height: 120px;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-box .name {
    background-color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    padding: 12px 22px;
    border-radius: 10px;
}

.profile-1 {
    background: #f0c26dda;
}

.profile-2 {
    background: #2d3e50d4;
}

.profile-3 {
    background: #61c0bed1;
}

.profile-4 {
    background: #b3d1e1d4;
}

.profile-1:hover,
.profile-2:hover,
.profile-3:hover,
.profile-4:hover {
    transform: translateX(5px);
    transform: translateY(-5px);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.597);
}

.block {
    animation: appear 5s linear;
    animation-timeline: view();
    /* animaiton happen only the elemnt is visible on the screen*/
    animation-range: entry 0% cover 40%;
}

.first {
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    /* Apply fade-in animation */
}

.location-box {
    position: relative;

    width: 100%;
    height: 500px;

    border-radius: 10px;
    padding: 5px;
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    z-index: -1;

}

.description {
    width: 100%;
    margin-left: 70px;
    color: #243b78;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description p {
    text-align: justify;
    max-width: 400px;
}

.description h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.map {
    margin-right: 40px;
}

.map iframe {
    border-radius: 20px;
    border: none;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
}

.map iframe:hover {
    transform: scale(1.1);
    opacity: 1;
}

.footer {
    margin-left: -7rem;
    margin-right: -7rem;
    width: calc(100% + 14rem);
    /* Adjusting for negative margins */
    background: linear-gradient(90deg, #144A78 34%, #2589DE 91%);
    height: 420px;
    padding: 1rem 7rem;


}

.footer-up {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 30px 0px 10px 0px;
}

.fl-1 h1 {
    color: #5386c4;
}

.fl-1 {
    flex: 1;

}

.fl-1 a {
    cursor: pointer;
}

.fl-2,
.fl-3,
.fl-4 {
    display: flex;
    flex: 0.7;
    flex-direction: column;
    gap: 10px;

}

.fl-2 a,
.fl-3 a,
.fl-4 a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.fl-5 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fl-5 .join-btn button {
    width: 100%;
    margin-top: 40px;
    padding: 10px 40px;
    margin: 0px 0px;
    border-radius: 25px;
    border: 2px solid #fff;
    outline: none;
    font-size: 1.1rem;
    transition: 0.3S ease-in-out;
    cursor: pointer;

}

.fl-5 .join-btn button:hover {
    background-color: #153c80;
    color: #fff;
    border: 2px solid #153c80;
}

.fl-5 .enrol {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.footer hr {
    opacity: 0.5;
    color: #fff;
    margin-top: 20px;
}


.footer-down {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}



.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
    justify-content: center;
    position: relative;


}

.social-login-icons svg {
    width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
}

.icon svg {
    fill: #111;
}

.socialcontainer {
    height: 73px;
    overflow: hidden;
}

.social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}

.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
}

.social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
}

.socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
}

.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
    opacity: 1;
}

.social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(72.44deg,
            #ff7a00 11.92%,
            #ff0169 51.56%,
            #d300c5 85.69%);
}

.socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
}

.social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
}

.social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

    background: red;
}

.socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
}


.copyright {
    color: #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 0.8rem;
    font-family: 'Inter';
    opacity: 0.7;
}







/* Animaitons */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.4;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

/* Define the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Optional: Adds a subtle slide effect */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}