
.announcements{
    border-radius: 15px;
    box-shadow: 4px 4px 15px var(--popup-background);;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px;
    margin:20px 20px;
}

a {
    text-decoration: none;
    color: #333;
}


.notification-header{
    display: flex;
    align-items: center;
    color: var(--secondary-color );
}

.notification-header h3{
    padding: 10px;
}
.notification-header hr{
    border: 1px solid #ccc;
}

/* Filters Section */
.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px 0px;
}

.filter-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background: var(--input-field-background);
    cursor: pointer;
    border-radius: 4px;
}

.filter-btn.active {
    background: var(--button-blue);
    color: #fff;
}

/* Articles Section */
.articles {
    padding: 20px;
    margin-bottom: 10px;
}

.article {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.article .date {
    flex: 1;
    font-size: 0.8rem;
    text-align: center;
    color: #555;
    border-right: 1px solid #ddd;
    padding: 20px 0px;
}
.article .content{
    flex:4;
    padding: 0px 10px;
}

.article .content h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.article .content p {
    font-size: 0.9rem;
    color: #555;
}
