:root {
    --primary-color:  #60a6ec;
    --primary-hover:  #10639a;
    --secondary-color: #2353A7;
    --light-color: #B3B3B3;/*opacity 36%*/
    --font-color-black: #333333;
    --background-white: #E3E3E3;/*opacity 65%*/
    --light-black: #2b2b2b;
    --light-text-black: #656464;
    --background-opacity: rgba(204, 204, 204, 0.36);
    --border-line: rgba(204, 204, 204, 0.56);
    --background-hover: rgba(204, 204, 204, 0.56);
    --input-field-backgorund: #F2F2F2;
    --icon-background: #E4EAF4;
    --button-blue: #1e88e5;
    --button-blue-hover: #1872c1;
    --popup-background: rgba(51, 51, 51, 0.3);
    --body-first: #f7f7f7;
    --body-second: #eaeaea;
    --hr:  var(--hr);
    --heading:  #233E8D;
    --heading-hover: #1f2f6a;
    --p: #666;
    --td: #f7f9fc;
    --td2: #eaf3fa;
    --icon : #0288d1;
    --pickup: #e0f7fa;
    --pickup-border: #b2ebf2;
}

:root {
    --font-size-body: 16px;
    --font-size-mainHeading: 28px;
    --font-size-subHEading: 18px;
}