.main-content {
    padding: 20px;
    height: 60vh !important;
    margin-left: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.package-card {
    height: 230px !important; /* Adjust height if needed */
}
