.sidebar {
    width: 200px;
    height: 100vh;
    background: url('../../../../Assets/funzone-side.png') no-repeat center center;
    background-size:cover;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.sidebar img {
    width: 50px;
    height: 50px;
}

.sidebar h1 {
    color: #3b82f6;
    font-size: 24px;
    margin: 10px 0;
}

.sidebar input[type="text"],
.sidebar select,
.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    font-size: 16px;
    text-align: left;
    transition: transform 0.3s ease;
}

.sidebar button:hover {
    transform: scale(1.1);
}

.sidebar input[type="text"]:focus {
    transform: scale(1.1);
}

.sidebar input[type="text"] {
    width: 90%;
    margin-bottom: 35px;
}

.sidebar input[type="text"]::placeholder {
    color: #333;
    /* Example color for the placeholder */
}

.sidebar button {
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}

.sidebar .bottom-text {
    margin-top: auto;
    color: white;
    font-size: 14px;
}

.sidebar .bottom-text i {
    margin-right: 5px;
}

.main-content .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3974BA;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 1000;
    height: 80px
}

.main-content .header h2 {
    margin: 0;
    font-size: 40px;
    margin-right: 750px;
}

.main-content .header .nav-buttons {
    display: flex;
    align-items: center;
}

.main-content .header .nav-buttons i {
    margin: 0 10px;
    cursor: pointer;
}

.main-content .header .settings {
    cursor: pointer;
    font-size: 32px !important;
}

.profile-card {
    position: fixed;
    right: -400px;
    width: 280px !important;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 0.6s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 5px solid #3a8dde;
    display: none;
    z-index: 1000;
    margin-top: 240px;
}

.profile-card.show {
    margin-top: 210px !important;
    display: flex;
    right: 0px;
}

.profile-card .profile {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 5px solid #3a8dde;
    margin-top: -1px !important;
}

.profile-card p {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
    margin-top: 10px;
}

.profile-card h2 {
    font-size: 16px;
}

.profile-card .profile-button,
.profile-card .secondary-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
}

.profile-card .profile-button:hover,
.profile-card .secondary-button:hover {
    background-color: #3a8dde;
    color: white;
}

.back {
    margin-left: -270px;
    margin-top: -15px;
    margin-bottom: -10px;
    cursor: pointer;
}

.profile-card .logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: rgb(255, 127, 127);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: red;
}

.child-name {
    margin-right: 0px !important;
    color: black;
    font-size: 20px !important;
    margin-top: 10px !important;
}

.custom-option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.custom-option img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-option:last-child {
    border-bottom: none;
}

.custom-option:hover {
    background-color: #f0f0f0;
}

.custom-child-select-container.active .custom-child-options-container {
    display: block;
}

.custom-child-select-container {
    position: relative;
    width: 100%;
    font-family: Arial, sans-serif;
}

.custom-child-select-trigger {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #3a8dde;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-child-select-trigger i {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.custom-child-options-container {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #3a8dde;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    /* Ensure it's hidden by default */
    z-index: 100;
    transition: all 0.3s ease;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-child-options-container::-webkit-scrollbar {
    width: 8px;
}

.custom-child-options-container::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.custom-child-options-container::-webkit-scrollbar-thumb {
    background: #3a8dde;
    border-radius: 10px;
}

.custom-child-options-container::-webkit-scrollbar-thumb:hover {
    background: #1d61c4;
}

.custom-child-option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.custom-option img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid black;
}

.custom-child-option:last-child {
    border-bottom: none;
}

.custom-child-option:hover {
    background-color: #f0f0f0;
}

.custom-child-select-container.active .custom-child-options-container {
    display: block;
    /* Show dropdown options when active */
}

.custom-child-options-container {
    height: 163px !important;
}

.switch {
    position: relative;
    width: 100px;
    height: 40px;
    display: flex;
    gap: 30px;
}

.lock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.lock-p {
    margin-right: 30px !important;
    font-size: 20px !important;
}

.switch input {
    display: none;
}

.switch label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #E4ECFA;
    border-radius: 50px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.switch label .toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background 0.3s ease;
    position: absolute;
    top: 5px;
    left: 5px;
}

.switch input:checked+label .toggle-icon {
    transform: translateX(50px);
    /* Move the circle to the right */
    background: #196df5;
}

.switch input:checked+label {
    background: rgba(25, 109, 245, 0.35);
}

.toggle-icon i {
    color: grey;
    font-size: 20px;
    transition: color 0.3s ease;
}

.switch input:checked+label .toggle-icon i {
    color: white;
    /* Change icon color on checked */
}

/* Font Awesome icons */
.fa-lock::before {
    content: '\f09c';
    /* Lock icon */
}

.fa-unlock::before {
    content: '\f023';
    /* Unlock icon */
}

.chatbox {
    position: fixed;
    bottom: 75px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: #357ac9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.chatbox:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.chatbox i {
    font-size: 24px;
    color: white;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    /* Adjust size as needed */
    background-color: white;
    border-radius: 50%;
    /* Creates the circular shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional: adds a shadow */
    margin: 0 10px;
    /* Spacing between icons */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for transform and box-shadow */
}

.circle:hover {
    transform: translateY(-10px) scale(1.1);
    /* Move up and scale the circle */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Optional: increase shadow on hover for a floating effect */
}

.circle i {
    font-size: 24px;
    /* Adjust size of the icons */
    color: black;
    /* Default icon color */
    transition: color 0.3s ease, transform 0.3s ease;
    /* Smooth transition for color and scale */
}

.circle:hover i {
    color: blue;
    /* Color of the icon on hover */
    transform: scale(1.2);
    /* Scale the icon to 120% on hover */
}

.circle .fa-chevron-left {
    margin-left: 6px !important;
    color: #2e7af5;
}

.circle .fa-chevron-right {
    margin-left: 14px !important;
    color: #2e7af5;
}

.chatbox {
    text-decoration: none;
}

.loading-area {
    display: none;
    /* Keep it hidden initially */
    place-items: center;
}

.contents {
    text-align: center;
}

.loader div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 1.5s ease-in-out infinite;
    display: inline-block;
    margin: 10px;
    background-color: lightblue;
    filter: drop-shadow(0 0 5px blue) drop-shadow(0 0 23px blue);
}

.loader div:nth-child(0) {
    animation-delay: 0s;
}

.loader div:nth-child(1) {
    animation-delay: 0.2s;
}

.loader div:nth-child(2) {
    animation-delay: 0.4s;
}

.loader div:nth-child(3) {
    animation-delay: 0.6s;
}

.loader div:nth-child(4) {
    animation-delay: 0.8s;
}

.loader div:nth-child(5) {
    animation-delay: 1s;
}

.loader div:nth-child(6) {
    animation-delay: 1.2s;
}

.loader div:nth-child(7) {
    animation-delay: 1.4s;
}

@keyframes animate {

    0%,
    100% {
        transform: scale(0.1);
    }

    40% {
        transform: scale(1);
    }

    50% {
        transform: scale(1);
    }
}
#lock-password{
    margin-top: 20px;
}
#lock-password input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0f020216;
    width: 250px;
}




.sidebarhome {
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    justify-content: center;
    padding: 20px;
    padding-left: 0px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    margin-bottom: 0;
    overflow-y: auto;
    border-right: 5px solid #007bff;
    box-sizing: border-box;
    width: 270px;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    z-index: 10000;
}
.sidebarhome.minimized {
    width: 50px;
    padding: 0px;
    border: none;
    overflow: hidden;
    transform: translateX(0px);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.sidebarhome.visible {
    left: 0;
}
.sidebarhome h2 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 25px;
    color:#2353A7 ;
}
.sidebarhome.minimized h2 {
    opacity: 0;
    visibility: hidden;
}
.star {
    display: none;
    transition: all 0.4s ease;
    padding: 0px;
    margin: 0px;
    width:40px;
}
.show {
    display: inline;
    width: 40px;
    opacity: 1;
    margin-left: 4px;
    margin-top: 15px;
    margin-bottom: -37px;
}
.sidebarhome ul {
    font-weight: bold;
    list-style: none;
    padding: 0;
    margin-left: 45px;
    margin-top: 30px;
    transition: margin-left 0.5s ease-in-out;
}
.sidebarhome.minimized ul {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 3px;
    margin-top: 0px;
}
.sidebarhome ul li {
    margin-bottom: -30px;
    position: relative;
}
.sidebarhome ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    transition: color 0.5s, border-color 0.3s; 
}
.sidebarhome ul li a i {
    margin-right: 10px;
    margin-top: 2px;
}
.sidebarhome.minimized ul li a span {
    display: none;
}
.sidebarhome.minimized a span {
    display: none;
}
.sidebarhome ul li a:hover {
    color: #007bff;
}
.sidebarhome ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.3s;
}
.sidebarhome ul li a:hover::before {
    transform: scaleX(1);
}
.sidebarhome .help {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
}
.selected {
    background-color: #2353A7;
    border-radius: 10px;
    width: 90%;
}
.unselected a {
    padding: 1px 10px;
}
.selected a {
    color: white !important;
    margin-top: 5px !important;
    margin-bottom: -15px !important;
    padding: 15px 10px;
}
.selectedk {
    border-radius: 10px;
    width: 90%;
}